<app-bandeau [title]="entreprise?.nomPublic"></app-bandeau>

<!-- SECTION -->
<div class="container" *ngIf="entreprise">
  <div class="section-presentation">
    <mat-card class="section-card">
      <div class="card-element">
        <div class="card-element-header">
          <div class="card-title">Présentation <mat-icon (click)="openUpdateForm()">edit</mat-icon></div>
          <div class="card-subtitle">{{ entreprise.presentation }}</div>
        </div>
      </div>
      <div class="card-element">
        <div class="card-element-list">
          <div class="card-element-list-item">
            <div class="card-element-title">Mission</div>
            <div class="card-element-text">{{ entreprise.mission }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Statut</div>
            <div class="card-element-text">{{ Statut[entreprise.status] }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Date de fondation</div>
            <div class="card-element-text">Le {{ entreprise.dateFondation }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Nombre de salariés</div>
            <div class="card-element-text">{{ entreprise.nbSalaries }}</div>
          </div>
          <div class="card-element-list-item">
            <!-- <button mat-flat-button color="accent" (click)="openUpdateForm()">Modifier</button> -->
            <button mat-flat-button color="warn" (click)="open_dialog_modal()">Publier une offre</button>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <div class="section-news">
    <mat-card class="section-card">
      <div class="card-element">
        <div class="card-element-header">
          <div class="card-title">Photos</div>
        </div>
      </div>
      <div class="card-element">
        <div class="card-element-photos">
          <div class="card-element-photos-item">
            <img src="assets/images/photo.jpg" />
          </div>
          <div class="card-element-photos-item">
            <img src="assets/images/photo.jpg" />
          </div>
          <div class="card-element-photos-item">
            <img src="assets/images/photo.jpg" />
          </div>
          <div class="card-element-photos-item">
            <img src="assets/images/photo.jpg" />
          </div>
        </div>
      </div>
    </mat-card>

    <mat-card class="section-card">
      <div class="card-element">
        <div class="card-element-header">
          <div class="card-title">Les offres d'emplois</div>
        </div>
      </div>
    </mat-card>

    <mat-card class="section-card" *ngFor="let offre of entreprise.offres">
      <app-offre [offre]="offre" [entrepriseId]="entreprise._id"></app-offre>
    </mat-card>

    <mat-card class="section-card">
      <div class="card-element">
        <div class="card-element-header">
          <div class="card-title">Les demandes d'emplois en cours</div>
        </div>
      </div>
      <div class="card-element">
        <li>offre 1</li>
        <li>offre 1</li>
        <li>offre 1</li>
      </div>
    </mat-card>
  </div>

  <div class="section-statistiques">
    <mat-card class="section-card">
      <div class="card-element">
        <div class="card-element-header">
          <div class="card-title">Statistiques</div>
          <div class="card-subtitle">{{ entreprise.presentation }}</div>
        </div>
      </div>
      <div class="card-element">
        <div class="card-element-list">
          <div class="card-element-list-item">
            <div class="card-element-title">Nombre d'offres</div>
            <div class="card-element-text">{{ entreprise.mission }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Nombre de demandes</div>
            <div class="card-element-text">{{ Statut[entreprise.status] }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Secteur de travail</div>
            <div class="card-element-text">Le {{ entreprise.dateFondation }}</div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Avis</div>
            <div class="card-element-text">
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
              <mat-icon>grade</mat-icon>
            </div>
          </div>
          <div class="card-element-list-item">
            <div class="card-element-title">Salaire moyenne</div>
            <div class="card-element-text">{{ entreprise.nbSalaries }}</div>
          </div>
        </div>
      </div>
    </mat-card>
  </div>
</div>
