<app-bandeau *ngIf="entreprise" [title]="entreprise.nomPublic"></app-bandeau>

<div class="container" *ngIf="entreprise">
  <mat-card class="card-presentation">
    <div class="card-element">
      <div class="card-element-header">
        <div class="card-title">Présentation</div>
        <div class="card-subtitle">{{ entreprise.presentation }}</div>
      </div>
    </div>
    <div class="card-element">
      <div class="card-element-list">
        <div class="card-element-list-item">
          <div class="card-element-title">Mission</div>
          <div class="card-element-text">{{ entreprise.mission }}</div>
        </div>
        <div class="card-element-list-item">
          <div class="card-element-title">Statut</div>
          <div class="card-element-text">{{ Statut[entreprise.status] }}</div>
        </div>
        <div class="card-element-list-item">
          <div class="card-element-title">Date de fondation</div>
          <div class="card-element-text">Le {{ entreprise.dateFondation }}</div>
        </div>
        <div class="card-element-list-item">
          <div class="card-element-title">Nombre de salariés</div>
          <div class="card-element-text">{{ entreprise.nbSalaries }}</div>
        </div>
      </div>
    </div>
  </mat-card>

  <mat-card class="card-photos">
    <div class="card-element">
      <div class="card-element-header">
        <div class="card-title">Photos</div>
      </div>
    </div>
    <div class="card-element">
      <div class="card-element-photos">
        <div class="card-element-photos-item">
          <img src="assets/images/photo.jpg" />
        </div>
        <div class="card-element-photos-item">
          <img src="assets/images/photo.jpg" />
        </div>
        <div class="card-element-photos-item">
          <img src="assets/images/photo.jpg" />
        </div>
        <div class="card-element-photos-item">
          <img src="assets/images/photo.jpg" />
        </div>
      </div>
    </div>
  </mat-card>
</div>
