<mat-card class="invitation">
  <mat-card-header>
    <mat-card-title>Vous êtes plutot entreprise ou candidat ? Créez votre compte en moins de 5 mn.</mat-card-title>
    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
  </mat-card-header>
  <!-- <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu" /> -->
  <mat-card-content class="invitation-selector">
    <div class="invitation-element">
      <mat-icon svgIcon="candidat"></mat-icon>
    </div>
    <mat-divider [vertical]="true"></mat-divider>
    <div class="invitation-element">
      <mat-icon svgIcon="entreprise"></mat-icon>
    </div>
  </mat-card-content>
  <p class="invitation-selector">
    Nous vous invitons à choisir le type de profil entreprise pour pouvoir publier des offres ou plutôt candidat pour postuler à des offres
    d'emploi sur notre plateforme. Merci :)
  </p>
  <!-- <mat-card-actions>
    <button mat-button>LIKE</button>
    <button mat-button>SHARE</button>
  </mat-card-actions> -->
</mat-card>
