<mat-toolbar style="background-color: grey">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row class="footer-link">
    <span class="footer-link-text">www.asako.mg</span>
    <span class="example-spacer"></span>
    <span class="footer-link-text">Nous contacter</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <span class="example-spacer"></span>
    <span class="footer-link-text">Localisation</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">near_me</mat-icon>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <span class="footer-link-text">Sécurisé & CopyRight(R)2020</span>
  </mat-toolbar-row>
</mat-toolbar>
