<mat-toolbar style="background-color: grey;">
  <mat-toolbar-row>
    <span class="example-spacer"></span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <span>www.asako.mg</span>
    <span class="example-spacer"></span>
    <span>Nous contacter</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
    <span class="example-spacer"></span>
    <span>Localisation</span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">near_me</mat-icon>
    <span class="example-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false" aria-label="Example user verified icon">verified_user</mat-icon>
    <span>Sécurisé & CopyRight2020(R)</span>
  </mat-toolbar-row>
</mat-toolbar>