<div class="job-offers" *ngIf="jobOffers">
  <mat-card class="job-offers-card" [ngClass]="{ zoomed: item.zoom }" *ngFor="let item of jobOffers">
    <mat-card-header class="job-offers-card-header">
      <div mat-card-avatar>
        <mat-icon class="job-offers-card-header-icon">star</mat-icon>
      </div>
      <mat-card-title>
        {{ item.titreOffre }} <span *ngIf="item.zoom && item.status"> - {{ StatutValue[item.status] }}</span>
      </mat-card-title>
      <mat-card-subtitle>{{ item.entreprise?.nomPublic }} {{ item.city }}</mat-card-subtitle>
      <mat-card-subtitle *ngIf="item.zoom">
        <span *ngFor="let avantage of item.avantages">+{{ avantage }} </span>
        / {{ item.salaire }} Ar Annuel
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="job-offers-card-content">
      <p class="job-offers-card-content-text-sm" *ngIf="item.date">Le {{ item.date | date: "dd/MM/yyyy" }}</p>
      <p class="job-offers-card-content-text-sm" *ngIf="!item.date">Le {{ item.updatedAt | date: "dd/MM/yyyy" }}</p>
      <p class="job-offers-card-content-text">
        {{ item.description }}
      </p>
      <p class="job-offers-card-content-text" *ngIf="item.zoom">
        <span *ngFor="let formation of item.formations"> {{ formation?.titre }} - </span>
        <span *ngFor="let competence of item.competences"> {{ competence?.titre }} - </span>
      </p>
    </mat-card-content>
    <mat-card-actions class="job-offers-card-actions">
      <button mat-raised-button color="primary">Postuler</button>
      <button mat-button (click)="zoomJobDetails(item)" *ngIf="!item.zoom">Details</button>
      <button mat-button (click)="zoomJobDetails(item)" *ngIf="item.zoom">Reduire</button>
    </mat-card-actions>
  </mat-card>
</div>
