.form-container {
  margin: 8px;
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;

  &-section {
    margin: 10px
  }
}


.example-right-align {
  text-align: right;
}

input.example-right-align {
  -moz-appearance: textfield;
}

.form-actions {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-basis: 1;
  margin: 8px;
  padding-top: 5px;
  padding-bottom: 25px;
}

button.form-actions {
  margin: 3px;
}