.home-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  &-section {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.home-container > div {
  width: 100%;
}
