<mat-toolbar>
  <mat-toolbar-row>
    <button mat-button>Recruteur</button>
    <button mat-icon-button class="menu-bar-icon" aria-label="Example icon-button with share icon">
      <mat-icon>facebook</mat-icon>
    </button>
    <button mat-icon-button class="menu-bar-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <button mat-icon-button class="menu-bar-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <span class="menu-bar-spacer"></span>

    <button mat-stroked-button [routerLink]="['/profil']" class="menu-bar-button" *ngIf="connectedUser">
      {{ connectedUser.username | titlecase }}
    </button>
    <button mat-stroked-button [routerLink]="['/login']" (click)="onLoggedout()" class="menu-bar-button" *ngIf="!connectedUser">
      Se connecter
    </button>
    <button mat-raised-button [routerLink]="['/register']" *ngIf="!connectedUser">S'inscrire</button>
    <button mat-icon-button class="menu-bar-icon" [matMenuTriggerFor]="menu" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item [routerLink]="['/dashboard/candidat']" (click)="updateNav(navigations[1])">
        <mat-icon>dialpad</mat-icon>
        <span>Candidat</span>
      </button>
      <button mat-menu-item [routerLink]="['/dashboard/entreprise']" (click)="updateNav(navigations[2])">
        <mat-icon>voicemail</mat-icon>
        <span>Entreprise</span>
      </button>
      <button mat-menu-item disabled>
        <mat-icon>voicemail</mat-icon>
        <span>Infos</span>
      </button>
      <button mat-menu-item>
        <mat-icon>notifications_off</mat-icon>
        <span>Mon compte</span>
      </button>
      <button mat-menu-item [routerLink]="['/login']" (click)="onLoggedout()">
        <mat-icon>notifications_off</mat-icon>
        <span>Se déconnecter</span>
      </button>
    </mat-menu>
  </mat-toolbar-row>

  <mat-toolbar-row class="menu-navigator-selector">
    <span class="menu-bar-spacer-2"></span>
    <img src="assets/images/logo-asako.png" width="10%" alt="entete" />

    <span class="menu-bar-spacer-2"></span>
    <!-- <mat-tab-group>
      <mat-tab-link label="Accueil" [routerLink]="['/dashboard/candidat']"></mat-tab>
      <mat-tab-link label="CANDIDAT" [routerLink]="['/dashboard/entreprise']"></mat-tab>
      <mat-tab-link label="ENTREPRISE"></mat-tab>
      <mat-tab-link label="INFOS"></mat-tab>
    </mat-tab-group> -->
    <nav mat-tab-nav-bar color="accent">
      <a mat-tab-link *ngFor="let nav of navigations" (click)="updateNav(nav)" [active]="nav.active">
        {{ nav.label | uppercase }}
      </a>
    </nav>

    <span class="menu-bar-spacer-2"></span>
    <span class="menu-bar-spacer-2"></span>
    <!-- <button mat-icon-button class="menu-bar-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button> -->
  </mat-toolbar-row>
</mat-toolbar>
