@import "./../../../styling/variables";

.mat-horizontal-content-container {
  display: flex;
  flex: 1 1 0;
  justify-content: center;
  justify-items: center;
  /* flex-grow: 1; */
  overflow: hidden;
  padding: 0 24px 24px 24px;
}

mat-form-field {
  width: 100%;
}

mat-card {
  border: solid 2px $accent !important;
  padding: 1rem;
  margin: 3rem;
}
