@import "./../../../../styling/variables";

.page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;
  background-color: chocolate;
}

.portfolio {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 3rem;
  padding: 1rem;
  width: 70%;
}

.portfolio-body {
  display: flex;
  justify-content: flex-end;
  margin: 1.5rem 3rem;
  padding: 1rem;
  h1,
  h2,
  h3 {
    width: 80%;
    height: 24px;
  }
  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
  }
  &-panel {
    width: 71vw;
    margin-bottom: 15px;
  }
}

.portfolio-header {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;

  &-profil {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 400px;
    margin: 10px;
    &-card {
      color: $primary;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-shrink: 1;
      width: 206px;
      margin: 5px;
    }
    &-subtitle {
      height: 18px;
      width: 100%;
      margin: 0px 15px;
    }
    h2 {
      margin-bottom: 1px;
    }
    img {
      border-radius: 50%;
    }
    button {
      height: 35px;
      margin: 5px;
    }
  }

  &-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 256px;
    margin: 10px;
  }
}

// .example-card {
//   // display: flex;
//   // flex-wrap: wrap;
//   margin: 1.5rem 3rem;
//   padding: 1rem;
//   // height: 300px;
// }

// .conteneur {
//   display: flex;
//   flex-wrap: wrap;
//   // flex-direction: column;
//   justify-content: flex-start;
//   align-items: flex-start;
//   // align-content: flex-start;
// }

// .element {
//   flex: 0 0 auto;
//   margin: 10px;
//   align-self: stretch;

//   // border: solid 1px blue;
//   // width: 200px;
//   // height: 30%;

//   // &-h {
//   //   // margin: 10px;
//   //   // border: solid 1px blue;
//   //   // height: 100%;
//   //   width: 200px;
//   // }
// }

// .element:nth-child(1) {
//   align-self: stretch;
//   height: 100%;
// }
