<form [formGroup]="parent">
  <button mat-button (click)="addNew()">Ajouter</button>
  <div formArrayName="experiences">
    <div *ngFor="let exp of experiences.controls; let i = index">
      <div [formGroupName]="i">
        <p>Expérience {{ i + 1 }}: <button mat-button (click)="remove(i)">Supprimer</button><br /></p>
        <mat-card>
          <mat-form-field appearance="outline">
            <mat-label>Sujet</mat-label>
            <input matInput placeholder="Titre" formControlName="label" required />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Votre statut</mat-label>
            <mat-select formControlName="status">
              <mat-option [value]="role.value" *ngFor="let role of status">{{ role.label }} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Secteur de travail</mat-label>
            <mat-select formControlName="secteur">
              <mat-option [value]="secteur.name" *ngFor="let secteur of secteurs">{{ secteur.name }} </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Entreprise</mat-label>
            <input matInput placeholder="Titre" formControlName="entreprise" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Durée</mat-label>
            <input matInput placeholder="Titre" formControlName="duree" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date de début</mat-label>
            <input matInput placeholder="jj/mm/yyyy" formControlName="debut" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Date de fin</mat-label>
            <input matInput placeholder="jj/mm/yyyy" formControlName="fin" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>Détails sur votre expérience</mat-label>
            <textarea matInput placeholder="Détails sur votre expérience" formControlName="details" rows="5"></textarea>
          </mat-form-field>
        </mat-card>
      </div>
    </div>
  </div>
</form>
