<mat-horizontal-stepper labelPosition="bottom" #stepper>
  <mat-step [stepControl]="formationsForm">
    <form [formGroup]="formationsForm">
      <ng-template matStepLabel>FORMATIONS ET DIPLOMES</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Titre de la formation ou diplome</mat-label>
        <input matInput placeholder="Last name, First name" formControlName="titre" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Groupe</mat-label>
        <mat-select formControlName="groupe">
          <mat-option [value]="role.value" *ngFor="let role of roles">{{ role.label }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Filière</mat-label>
        <mat-select formControlName="filiere">
          <mat-option [value]="role.value" *ngFor="let role of filieres">{{ role.label }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Ecole ou établissements</mat-label>
        <input matInput placeholder="établissements" formControlName="etablissement" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date de début</mat-label>
        <input matInput placeholder="jj/mm/yyyy" formControlName="debut" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date de fin</mat-label>
        <input matInput placeholder="jj/mm/yyyy" formControlName="fin" required />
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="experiencesForm" optional>
    <form [formGroup]="experiencesForm">
      <ng-template matStepLabel>VOS EXPERIENCES</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>Sujet</mat-label>
        <input matInput placeholder="Titre" formControlName="label" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Votre statut</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="role.value" *ngFor="let role of status">{{ role.label }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Secteur de travail</mat-label>
        <mat-select formControlName="secteur">
          <mat-option [value]="secteur.name" *ngFor="let secteur of secteurs">{{ secteur.name }} </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Entreprise</mat-label>
        <input matInput placeholder="Titre" formControlName="entreprise" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Durée</mat-label>
        <input matInput placeholder="Titre" formControlName="duree" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date de début</mat-label>
        <input matInput placeholder="jj/mm/yyyy" formControlName="debut" />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Date de fin</mat-label>
        <input matInput placeholder="jj/mm/yyyy" formControlName="fin" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="competencesForm" optional>
    <form [formGroup]="competencesForm">
      <ng-template matStepLabel>VOS COMPETENCES</ng-template>
      <mat-form-field appearance="outline">
        <mat-label>compétence *</mat-label>
        <input matInput placeholder="compétence" formControlName="titre" required />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Niveau de compétence</mat-label>
        <mat-select formControlName="niveau">
          <map-otion value="5">Expert</map-otion>
          <map-otion value="4">Avancé</map-otion>
          <map-otion value="3">Intermédiaire</map-otion>
          <map-otion value="2">Débutant</map-otion>
          <map-otion value="1">Notion</map-otion>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Version</mat-label>
        <input matInput placeholder="version" formControlName="version" />
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Enregistrement</ng-template>
    <p>ça a été utile pour la suite.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button (click)="stepper.reset()">Reset</button>
      <button mat-button (click)="sendUpdate()">Enregistrer</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
