<div class="user-validation-container">
  <button class="content-form-full" mat-raised-button color="primary" *ngIf="validated">
    <mat-icon>success</mat-icon>
    <span>Votre compte a été validé !!</span>
  </button>
  <button class="content-form-full" mat-raised-button color="accent" *ngIf="validated">
    <mat-icon>success</mat-icon>
    <span>Mettre à jour mon compte</span>
  </button>
  <button class="content-form-full" mat-raised-button color="warn" *ngIf="!validated && attemptTry < 3">
    <mat-icon>warn</mat-icon>
    <span>Veuillez recommencer svp :( </span>
  </button>

  <form [formGroup]="validationForm" *ngIf="!validated && attemptTry <= 3">
    <mat-form-field class="content-form-full" appearance="outline">
      <mat-label>Votre username</mat-label>
      <input matInput placeholder="username" formControlName="username" class="full-input" />
    </mat-form-field>

    <p class="content-form-full">
      <mat-slide-toggle formControlName="setProfil">Voulez-vous créer votre profil directement ?</mat-slide-toggle>
    </p>

    <button mat-button [routerLink]="['/register']" routerLinkActive="router-link-active">Je m'inscris</button>
    <button mat-raised-button color="accent" (click)="validate()">Valider</button>
  </form>
</div>
